nav .weblogo{
    width: 65px;
}
.navbar{
    position: fixed;
    top: 0;left: 0;right: 0;
    background:#1a16168a!important;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
.navbar-brand span{
    color: orangered;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600;
    font-size: 20px;
}

@media(max-width: 768px)
{
 .navbar{
  background:#333!important;
 }
 .img12{
    margin-top: 78px;
 }
}
.a{
  width: 350px;
}
.banner{
    background-image: url(https://t4.ftcdn.net/jpg/03/19/74/61/360_F_319746107_n99b20pTyXt8xYJXQqVBI5dJVttUANFn.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 255px;
}
.text1{
    position: relative;
    text-align: center;
    color:brown;
    font-size: 90px;
    padding-top: 40vh;
    font-family: 'prague';
}
.heading span{
    font-size: 2.5rem;
    background:rgba(255,165,0,.2);
    color: orange;
    border-radius:10px;
    padding: 0rem 1rem;
}
.b{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.b .box1{
    flex: 1 1 30rem;
    border-radius:.5rem;
    padding: 1rem;
    text-align: center;
}
.b .box1 i{
    padding: 1rem;
    font-size: 5rem;
    color:orangered;

}
.b .box1 h3{
    font-size: 2.5rem;
    color: #333;

}
.b .box1 p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.b .box1:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,1);

}
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000000;
    background-size: cover;
}
.navbar-logo{
    width: 80px;
    margin-bottom: 10px;
}
.box{
    display: flex;
    padding-left: 121px;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.p{
    letter-spacing: 15px;

}

.tips{
    height: 90px;
    width: 90px;
    border-radius: 6px;
    margin: 4px;

}
.m{
    line-height: 28px;
    letter-spacing: 1px;
}